/*
clip path shapes: https://bennettfeely.com/clippy/

7-1 pattern
base/
components/
layout/
pages/
themes/
abstracts/
vendors/

https://css-tricks.com/snippets/html/glyphs/
http://linea.io/
https://unsplash.com/
https://coverr.co/ - stock videos

HTML special symbols (HTML entities):
&nbsp; - empty space, &times; - X,
&copy; - copyright
*/
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/composition";
@import "components/button";
@import "components/card";
@import "components/feature-box";
@import "components/story";
@import "components/bg-video";
@import "components/form";
@import "components/popup";

@import "layout/navigation";
@import "layout/header";
@import "layout/grid";
@import "layout/footer";

@import "pages/home";